<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width= device-width, user-scalable=no">
    <title>Worker Genius - {% block title %} Bienvenue ! {% endblock %}</title>
    <link rel='icon' href='/images/worker_genius_logo.png' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  {% include 'partials/header.twig' %}
    {% block body %}{% endblock %}
  {% include 'partials/footer.twig' %}
  </body>
  {% block javascripts %}
    <script src="/app"></script>
  {% endblock %}

</html>
